/* Site São Roque Coffee Festival CSS */
/*
Author: Reginaldo, Renata e Thais
Description: Ajustes a padões do site
Version: 1.0
*/


/*** FONTES PADRÂO DO SITE **/
#header p , h1,h2,h3{
   font-family: 'Dancing Script', cursive;
 }

#header h2, p,.footer ul{
  font-family: 'Rokkitt', serif;
}

/*********** AJUSTES DO HEADER  *******************************/
header {
  text-align: center;
  margin:inherit;
  background-color: #120e0f;
}

#header h2{
  font-size: 1.2em;
  color: #c87d44;
}

#header p{
  font-size: 1.8em;
  color: #fff;
}

header{
  height: 565px;
  padding-top: 2%;
  padding-bottom: 2%;
  /*width: 100%;
  height: 100vh;*/
  /*background: url(../img/FundoHeader.jpg)#141011;
  background-size: cover;
  background-position: center;*/
  background: url(../img/FundoHeader.jpg) #120e0f no-repeat center;
  background-size: cover;
}
#borda{
  padding: 2%;
  width: 80%;
  height:100%;
  background-color: #120e0f;
  margin: 0 auto;
}
#quadrado{
  width: 100%;
  height: 100%;
  background-color: #120e0f;
  border: 2px dashed #ffb47d;
  margin: 0 auto;
}


/**Cores do titulos do site **/
.art-main h1,.section-main h1, .aside-main h2, .art-musica h1,
.section-musica h1{
  color: #c87d44;
  text-shadow: 2px 1px 1px #000000;
}

/*********** CONFIGURAÇÕES DA PAGINA HOME *********************/
/**ajustes para o article principal **/
.art-main h1{
  text-align: center;

}

/** ** ajuste da section **/
.button{
 background-color: #c87d44;
 border-color: #7f4c26;
 color:#fff;
}

a.button:hover{
  background-color: #a5581f;
  color:#fff;
}

/*** Ajustes do aside da pagina****/
.image {
	   position: relative;
	   width: 100%;
}

.janela_texto p{
  font-size:0.9em;
  color:#fff;
  padding-left: 1rem;
}
.janela_texto h3{
  font-size:1.8em;
  font-weight: bold;
  color:#fff;
  padding-left: 1rem;
}

.janela_texto {
  transition: background-color 2s;
}

div.janela_texto:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.botao{
  text-align: center;

}
/**************************************************************/
/************* AJUSTES DA PAGINA MUSICA ***********************/

.art-musica h1,.section-musica h1{
  text-align: center;
}

#img-music img{
  padding-top: 10%;
}

/**************************************************************/
/************* AJUSTE DA PÁGINA GASTRONOMIA *******************/

.sct-gastronomia h2{
  color: #c87d44;
  text-shadow: 2px 1px 1px #000000;
  padding-top: 50px;
}

/* article h1{
        padding-top: 50px;
    }

article img{
        padding-top: 40px;

} */

/**************************************************************/
/************* AJUSTES DO FOOTER DAS PAGINAS ******************/

#volta-top{
/*				border-bottom: 1px solid #999;*/
  border-radius: 1.2em;
  width:70px;
	height:70px;
}
div#volta-top{
	position: fixed;
	bottom: 1em;
	right: 1em;
}

#volta-top img{
	width:70px;
	height:70px;
	opacity: 0.4;
/*box-shadow: 2px 1px 4px #000000;*/
	transform: rotate(-30deg);
  border-radius: 1.2em;
  box-shadow: 2px 2px 4px #000;
	transition: transform 1s;
  }

#volta-top img:hover {
  transform: none;
}

.footer{
  background-color: #120e0f;
  color: #c87d44;
  margin-bottom: 0;
}

.menu,.logo-footer{
  padding: 2rem 2rem 0 2rem;

}
/* Clear a float */
.u-cf {
  content: "";
  display: table;
  clear: both; }

#logo-footer{
  max-height: 100px;
  max-width: 100px;
}
.logo-footer{
  text-align: right;
}

.footer ul{
  text-decoration: none;
  list-style:none;
  font-size: 1.2em;
  line-height: normal;
}
.footer a{
  text-decoration: none;
  color: #c87d44;
}

.footer a:hover{
  color: #a5581f;
}
.copy{
    text-align: center;
}
/**************************************************************/
/********** AJUSTES RESPONSIVOS *******************************/
/** Ajustes Padrões devem ser colocados em cima desse bloco **/
/**Padrõe apenas para desktop **/
@media only screen and (min-width: 960px) {
  .janela_texto {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding-top:1rem;
  }
  img{
    max-width: 100%;
  }

}
/****Padrões para tablet tamanho do IPAD **/
@media only screen and (max-width:958px) {
    .janela_texto {
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        padding-top:0;
        padding-bottom:0;
    }
    img{
      max-width: 100%;
      }
}

/** Padrões para Mobile mais ou menos os tamanho padrão de um celular **/
@media only screen and (max-width:549px) {
  body {
  width:100%;

  }
  #header p{
    font-size: 1.5em;
  }

  header{
    height:25em;
    background: url(../img/FundoHeader-mobile.jpg) #120e0f no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom:0;
    margin: 0;
    border:0;
  }
		img#logo{
			max-width: 200px;
			max-height: 154px;
}

	div#div-logo{
				position: absolute;
				top: 10px;
				right: 10px;
				max-width: 200px;
				}

#borda{
  padding:0 2% 0 2%;
  width: 80%;
  height:25em;

  background-color: #120e0f;
  margin: 0 auto;
}
  #quadrado{
    border:none;
    border-left: 1px dashed #ffb47d;
    border-right:1px dashed #ffb47d;
    margin: 0;
    height:25em;
    padding: 0;
  }
  .art-main img{
    max-height: 150px;
    max-width: 150px;
    text-align: center;
 }
    /* adicionando um padding no mobile por seção */
   .art-main ,.section-main,.section-musica,.art-musica {
     padding: 2em;
     text-align: center;
   }
   .aside-texto{
      padding: 2em 2em 0 2em;
      text-align: center;
   }
  .janela_texto {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 80%;
      background-color: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      padding-top:0;
      padding-bottom:0;
      line-height: 1.1;
  }
    /*section#box2{
      background: url(../img/gastronomia-360.jpg)#000 no-repeat center;
      height: 200px;
    }*/
  img {
     margin: 0 auto;
     width: 100%;
  }


#img2{
  max-height: 100px;
  max-width: 100px;
}

div.container{
    margin: 0!important;
    width: 100%!important;
    padding: 0!important;
  }

}
/**************************************************************/
